.bg-body-tertiary{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-link {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link:hover{
    color: #ED407D !important;
    font-weight: 600 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.showactive {
    color: #ED407D !important;
    font-weight: 600 !important;
}

/* Ensure the container is positioned correctly */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    display: flow;
  }
  
  /* Search icon style */
  .search-icon {
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }
  
  /* Hidden Search Box */
  .search-input {
    position: absolute;
    top: 50%;
    right: -200px; /* Start from off-screen */
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    transition: all 0.5s ease;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Make search box visible when hovering the search icon */
  .search-input.visible {
    right: 40px; /* Move it into view */
    opacity: 1;
    visibility: visible;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  /* Optional: Change the background color when the search box is focused */
  .search-input:focus {
    background-color: #f5f5f5;
  }
  
